 {% load staticfiles %}
 
<!DOCTYPE html>
<html lang="utf-8">
<head>
{% include "base_header.html" %}
{% block extra-header %}
{% endblock %} 
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>          
          <ul class="nav navbar-nav navbar-header-nav">
            <li>
          {% block nav-left %}{% endblock %} 
            </li>
            <li><div class="navbar-btn pgs-container" style="display: none;"><input type="text" value="0" class="pgs" ></div></li>
          </ul >
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <div class="nav navbar-nav navbar-right btn-group">
          {% block nav-right %}{% endblock %} 
          </div>   
        </div>         
      </div>
    </nav>

{% block main-body %}

{% endblock %}
  <script src="{% static "js/jquery.knob.min.js" %}"></script>
  <script>
    $(function() {
        $(".pgs").knob({
          'width':28,
          'height':28
        });
    });  
  </script>
 </body>

</html>