{% load progress_bar %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="{% static "js/jquery-2.1.1.min.js" %}"></script>
    {% progress_bar_media %}
    <script>
    function fun_sucs(data) {
        $('#result').append(JSON.stringify(data));
    }
    </script>
</head>

<body>

	<form id="abc" action="" enctype="multipart/form-data" method="post" data-success="fun_sucs">
		{{ form }}
		{% progress_bar %}
		<input type="submit" />
	</form>
	<div id="result"></div>

</body>

</html>