{% load progress_bar %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="{% static "js/jquery-2.1.1.min.js" %}"></script>
    {% progress_bar_media %}
    <script>
    function fun_sucs(data) {
    	if (data['success']) {
    		window.alert('成功');
    	}
    	else {
    		window.alert(JSON.stringify(data));
    	}
    	window.location.reload();
    }    
    </script>   
</head>

<body>

	<form id="abc" action="" enctype="multipart/form-data" method="post" data-success="fun_sucs">
		{{ form }}
		{% progress_bar %}
		<input type="submit" />
	</form>

</body>

</html>